{% load static %}

<div class="col-xxl-4">
    <!--begin::Invoices-->
<div class="card  card-xxl-stretch mb-5 mb-xxl-10">
<!--begin::Header-->
<div class="card-header">
    <div class="card-title">
        <h3 class="text-gray-800">Invoices</h3>
    </div>
</div>
<!--end::Header-->

<!--begin::Body-->
<div class="card-body">
    <span class="fs-5 fw-semibold text-gray-600 pb-6 d-block">Download apart from order of the good awesome invoice topics</span>

    <!--begin::Left Section-->
    <div class="d-flex align-self-center">
        <div class="flex-grow-1 me-3">
            <!--begin::Select-->           
            <select class="form-select form-select-solid select2-hidden-accessible" data-control="select2" data-placeholder="Seller Annual Fee" data-hide-search="true" data-select2-id="select2-data-10-3fa2" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                <option value="" data-select2-id="select2-data-12-pmws"></option>
                <option value="1">Individual Seller Account</option>
                <option value="2">Variable Closing Fee</option>
                <option value="3">Minimum Referral Fee</option>
            </select><span class="select2 select2-container select2-container--bootstrap5" dir="ltr" data-select2-id="select2-data-11-kxh2" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single form-select form-select-solid" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-6jni-container" aria-controls="select2-6jni-container"><span class="select2-selection__rendered" id="select2-6jni-container" role="textbox" aria-readonly="true" title="Seller Annual Fee"><span class="select2-selection__placeholder">Seller Annual Fee</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>                           
            <!--end::Select-->
        </div>

        <!--begin::Action-->
        <button type="button" class="btn btn-primary btn-icon flex-shrink-0">
            <i class="ki-duotone ki-arrow-down fs-1"><span class="path1"></span><span class="path2"></span></i>            </button>
        <!--end::Action-->
    </div>
    <!--end::Left Section-->
</div>
<!--end::Body-->
</div>
<!--end::Invoices-->
</div>