{% load static %}
<!--begin::Col-->
<div class="col-xl-8 mb-5 mb-xl-10">
    <!--begin::Row-->
    <div class="row g-5 g-xl-10">
        <!--begin::Col-->
        <div class="col-xl-6 mb-xl-10">
            <!--begin::Slider Widget 1-->
            <div id="kt_sliders_widget_1_slider" class="card card-flush carousel carousel-custom carousel-stretch slide h-xl-100" data-bs-ride="carousel" data-bs-interval="5000">
                <!--begin::Header-->
                <div class="card-header pt-5">
                    <!--begin::Title-->
                    <h4 class="card-title d-flex align-items-start flex-column">
                        <span class="card-label fw-bold text-gray-800">Today’s Course</span>
                        <span class="text-gray-400 mt-1 fw-bold fs-7">4 lessons, 3 hours 45 minutes</span>
                    </h4>
                    <!--end::Title-->
                    <!--begin::Toolbar-->
                    <div class="card-toolbar">
                        <!--begin::Carousel Indicators-->
                        <ol class="p-0 m-0 carousel-indicators carousel-indicators-bullet carousel-indicators-active-primary">
                            <li data-bs-target="#kt_sliders_widget_1_slider" data-bs-slide-to="0" class="active ms-1"></li>
                            <li data-bs-target="#kt_sliders_widget_1_slider" data-bs-slide-to="1" class="ms-1"></li>
                            <li data-bs-target="#kt_sliders_widget_1_slider" data-bs-slide-to="2" class="ms-1"></li>
                        </ol>
                        <!--end::Carousel Indicators-->
                    </div>
                    <!--end::Toolbar-->
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body py-6">
                    <!--begin::Carousel-->
                    <div class="carousel-inner mt-n5">
                        <!--begin::Item-->
                        <div class="carousel-item active show">
                            <!--begin::Wrapper-->
                            <div class="d-flex align-items-center mb-5">
                                <!--begin::Chart-->
                                <div class="w-80px flex-shrink-0 me-2">
                                    <div class="min-h-auto ms-n3" id="kt_slider_widget_1_chart_1" style="height: 100px"></div>
                                </div>
                                <!--end::Chart-->
                                <!--begin::Info-->
                                <div class="m-0">
                                    <!--begin::Subtitle-->
                                    <h4 class="fw-bold text-gray-800 mb-3">Ruby on Rails</h4>
                                    <!--end::Subtitle-->
                                    <!--begin::Items-->
                                    <div class="d-flex d-grid gap-5">
                                        <!--begin::Item-->
                                        <div class="d-flex flex-column flex-shrink-0 me-4">
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-400 mb-2">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>3 Topics</span>
                                            <!--end::Section-->
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center text-gray-400 fw-bold fs-7">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>1 Speakers</span>
                                            <!--end::Section-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="d-flex flex-column flex-shrink-0">
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-400 mb-2">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>50 Min</span>
                                            <!--end::Section-->
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center text-gray-400 fw-bold fs-7">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>72 students</span>
                                            <!--end::Section-->
                                        </div>
                                        <!--end::Item-->
                                    </div>
                                    <!--end::Items-->
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Action-->
                            <div class="m-0">
                                <a href="#" class="btn btn-sm btn-light me-2 mb-2">Skip This</a>
                                <a href="#" class="btn btn-sm btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Continue</a>
                            </div>
                            <!--end::Action-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="carousel-item">
                            <!--begin::Wrapper-->
                            <div class="d-flex align-items-center mb-5">
                                <!--begin::Chart-->
                                <div class="w-80px flex-shrink-0 me-2">
                                    <div class="min-h-auto ms-n3" id="kt_slider_widget_1_chart_2" style="height: 100px"></div>
                                </div>
                                <!--end::Chart-->
                                <!--begin::Info-->
                                <div class="m-0">
                                    <!--begin::Subtitle-->
                                    <h4 class="fw-bold text-gray-800 mb-3">Ruby on Rails</h4>
                                    <!--end::Subtitle-->
                                    <!--begin::Items-->
                                    <div class="d-flex d-grid gap-5">
                                        <!--begin::Item-->
                                        <div class="d-flex flex-column flex-shrink-0 me-4">
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-400 mb-2">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>3 Topics</span>
                                            <!--end::Section-->
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center text-gray-400 fw-bold fs-7">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>1 Speakers</span>
                                            <!--end::Section-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="d-flex flex-column flex-shrink-0">
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-400 mb-2">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>50 Min</span>
                                            <!--end::Section-->
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center text-gray-400 fw-bold fs-7">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>72 students</span>
                                            <!--end::Section-->
                                        </div>
                                        <!--end::Item-->
                                    </div>
                                    <!--end::Items-->
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Action-->
                            <div class="m-0">
                                <a href="#" class="btn btn-sm btn-light me-2 mb-2">Skip This</a>
                                <a href="#" class="btn btn-sm btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Continue</a>
                            </div>
                            <!--end::Action-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="carousel-item">
                            <!--begin::Wrapper-->
                            <div class="d-flex align-items-center mb-5">
                                <!--begin::Chart-->
                                <div class="w-80px flex-shrink-0 me-2">
                                    <div class="min-h-auto ms-n3" id="kt_slider_widget_1_chart_3" style="height: 100px"></div>
                                </div>
                                <!--end::Chart-->
                                <!--begin::Info-->
                                <div class="m-0">
                                    <!--begin::Subtitle-->
                                    <h4 class="fw-bold text-gray-800 mb-3">Ruby on Rails</h4>
                                    <!--end::Subtitle-->
                                    <!--begin::Items-->
                                    <div class="d-flex d-grid gap-5">
                                        <!--begin::Item-->
                                        <div class="d-flex flex-column flex-shrink-0 me-4">
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-400 mb-2">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>3 Topics</span>
                                            <!--end::Section-->
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center text-gray-400 fw-bold fs-7">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>1 Speakers</span>
                                            <!--end::Section-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="d-flex flex-column flex-shrink-0">
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-400 mb-2">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>50 Min</span>
                                            <!--end::Section-->
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center text-gray-400 fw-bold fs-7">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>72 students</span>
                                            <!--end::Section-->
                                        </div>
                                        <!--end::Item-->
                                    </div>
                                    <!--end::Items-->
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Action-->
                            <div class="m-0">
                                <a href="#" class="btn btn-sm btn-light me-2 mb-2">Skip This</a>
                                <a href="#" class="btn btn-sm btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Continue</a>
                            </div>
                            <!--end::Action-->
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Carousel-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Slider Widget 1-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-6 mb-5 mb-xl-10">
            <!--begin::Slider Widget 2-->
            <div id="kt_sliders_widget_2_slider" class="card card-flush carousel carousel-custom carousel-stretch slide h-xl-100" data-bs-ride="carousel" data-bs-interval="5500">
                <!--begin::Header-->
                <div class="card-header pt-5">
                    <!--begin::Title-->
                    <h4 class="card-title d-flex align-items-start flex-column">
                        <span class="card-label fw-bold text-gray-800">Today’s Events</span>
                        <span class="text-gray-400 mt-1 fw-bold fs-7">24 events on all activities</span>
                    </h4>
                    <!--end::Title-->
                    <!--begin::Toolbar-->
                    <div class="card-toolbar">
                        <!--begin::Carousel Indicators-->
                        <ol class="p-0 m-0 carousel-indicators carousel-indicators-bullet carousel-indicators-active-success">
                            <li data-bs-target="#kt_sliders_widget_2_slider" data-bs-slide-to="0" class="active ms-1"></li>
                            <li data-bs-target="#kt_sliders_widget_2_slider" data-bs-slide-to="1" class="ms-1"></li>
                            <li data-bs-target="#kt_sliders_widget_2_slider" data-bs-slide-to="2" class="ms-1"></li>
                        </ol>
                        <!--end::Carousel Indicators-->
                    </div>
                    <!--end::Toolbar-->
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body py-6">
                    <!--begin::Carousel-->
                    <div class="carousel-inner">
                        <!--begin::Item-->
                        <div class="carousel-item active show">
                            <!--begin::Wrapper-->
                            <div class="d-flex align-items-center mb-9">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-70px symbol-circle me-5">
                                    <span class="symbol-label bg-light-success">
                                        <i class="ki-duotone ki-abstract-24 fs-3x text-success">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Info-->
                                <div class="m-0">
                                    <!--begin::Subtitle-->
                                    <h4 class="fw-bold text-gray-800 mb-3">Ruby on Rails</h4>
                                    <!--end::Subtitle-->
                                    <!--begin::Items-->
                                    <div class="d-flex d-grid gap-5">
                                        <!--begin::Item-->
                                        <div class="d-flex flex-column flex-shrink-0 me-4">
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-400 mb-2">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>5 Topics</span>
                                            <!--end::Section-->
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center text-gray-400 fw-bold fs-7">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>1 Speakers</span>
                                            <!--end::Section-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="d-flex flex-column flex-shrink-0">
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-400 mb-2">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>60 Min</span>
                                            <!--end::Section-->
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center text-gray-400 fw-bold fs-7">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>137 students</span>
                                            <!--end::Section-->
                                        </div>
                                        <!--end::Item-->
                                    </div>
                                    <!--end::Items-->
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Action-->
                            <div class="m-0">
                                <a href="#" class="btn btn-sm btn-light me-2 mb-2">Details</a>
                                <a href="#" class="btn btn-sm btn-success mb-2" data-bs-toggle="modal" data-bs-target="#kt_modal_create_campaign">Join Event</a>
                            </div>
                            <!--end::Action-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="carousel-item">
                            <!--begin::Wrapper-->
                            <div class="d-flex align-items-center mb-9">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-70px symbol-circle me-5">
                                    <span class="symbol-label bg-light-danger">
                                        <i class="ki-duotone ki-abstract-25 fs-3x text-danger">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Info-->
                                <div class="m-0">
                                    <!--begin::Subtitle-->
                                    <h4 class="fw-bold text-gray-800 mb-3">Ruby on Rails</h4>
                                    <!--end::Subtitle-->
                                    <!--begin::Items-->
                                    <div class="d-flex d-grid gap-5">
                                        <!--begin::Item-->
                                        <div class="d-flex flex-column flex-shrink-0 me-4">
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-400 mb-2">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>12 Topics</span>
                                            <!--end::Section-->
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center text-gray-400 fw-bold fs-7">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>1 Speakers</span>
                                            <!--end::Section-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="d-flex flex-column flex-shrink-0">
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-400 mb-2">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>50 Min</span>
                                            <!--end::Section-->
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center text-gray-400 fw-bold fs-7">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>72 students</span>
                                            <!--end::Section-->
                                        </div>
                                        <!--end::Item-->
                                    </div>
                                    <!--end::Items-->
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Action-->
                            <div class="m-0">
                                <a href="#" class="btn btn-sm btn-light me-2 mb-2">Details</a>
                                <a href="#" class="btn btn-sm btn-success mb-2" data-bs-toggle="modal" data-bs-target="#kt_modal_create_campaign">Join Event</a>
                            </div>
                            <!--end::Action-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="carousel-item">
                            <!--begin::Wrapper-->
                            <div class="d-flex align-items-center mb-9">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-70px symbol-circle me-5">
                                    <span class="symbol-label bg-light-primary">
                                        <i class="ki-duotone ki-abstract-36 fs-3x text-primary">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Info-->
                                <div class="m-0">
                                    <!--begin::Subtitle-->
                                    <h4 class="fw-bold text-gray-800 mb-3">Ruby on Rails</h4>
                                    <!--end::Subtitle-->
                                    <!--begin::Items-->
                                    <div class="d-flex d-grid gap-5">
                                        <!--begin::Item-->
                                        <div class="d-flex flex-column flex-shrink-0 me-4">
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-400 mb-2">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>3 Topics</span>
                                            <!--end::Section-->
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center text-gray-400 fw-bold fs-7">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>1 Speakers</span>
                                            <!--end::Section-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="d-flex flex-column flex-shrink-0">
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-400 mb-2">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>50 Min</span>
                                            <!--end::Section-->
                                            <!--begin::Section-->
                                            <span class="d-flex align-items-center text-gray-400 fw-bold fs-7">
                                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>72 students</span>
                                            <!--end::Section-->
                                        </div>
                                        <!--end::Item-->
                                    </div>
                                    <!--end::Items-->
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Action-->
                            <div class="m-0">
                                <a href="#" class="btn btn-sm btn-light me-2 mb-2">Details</a>
                                <a href="#" class="btn btn-sm btn-success mb-2" data-bs-toggle="modal" data-bs-target="#kt_modal_create_campaign">Join Event</a>
                            </div>
                            <!--end::Action-->
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Carousel-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Slider Widget 2-->
        </div>
        <!--end::Col-->
    </div>
    <!--end::Row-->
    <!--begin::Engage widget 4-->
    <div class="card border-transparent" data-bs-theme="light" style="background-color: #1C325E;">
        <!--begin::Body-->
        <div class="card-body d-flex ps-xl-15">
            <!--begin::Wrapper-->
            <div class="m-0">
                <!--begin::Title-->
                <div class="position-relative fs-2x z-index-2 fw-bold text-white mb-7">
                <span class="me-2">You have got
                <span class="position-relative d-inline-block text-danger">
                    <a href="../../demo7/dist/pages/user-profile/overview.html" class="text-danger opacity-75-hover">2300 bonus</a>
                    <!--begin::Separator-->
                    <span class="position-absolute opacity-50 bottom-0 start-0 border-4 border-danger border-bottom w-100"></span>
                    <!--end::Separator-->
                </span></span>points.
                <br />Feel free to use them in your lessons</div>
                <!--end::Title-->
                <!--begin::Action-->
                <div class="mb-3">
                    <a href='#' class="btn btn-danger fw-semibold me-2" data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">Get Reward</a>
                    <a href="../../demo7/dist/apps/support-center/overview.html" class="btn btn-color-white bg-white bg-opacity-15 bg-hover-opacity-25 fw-semibold">How to</a>
                </div>
                <!--begin::Action-->
            </div>
            <!--begin::Wrapper-->
            <!--begin::Illustration-->
            <img src="{% static 'assets/media/illustrations/sigma-1/17-dark.png' %}" class="position-absolute me-3 bottom-0 end-0 h-200px" alt="" />
            <!--end::Illustration-->
        </div>
        <!--end::Body-->
    </div>
    <!--end::Engage widget 4-->
</div>
<!--end::Col-->