{% extends "base.html" %} 
{% load slippers %} 
{% block content %}
{% comment %} aside goes here  {% endcomment %}
{% #aside_pro data="db_data"%}
{% /aside_pro %}
<div class="wrapper d-flex  flex-column flex-row-fluid" id="kt_wrapper">
    {% #header heading="User" %}
    {% /header %}
    <div class="content d   -flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div class="container-xxl" id="kt_content_container">   
        {% #users_profile %}
        {% /users_profile %}
    </div>
    </div>
</div>
{% endblock content %}

{% block modal %}
{% #create_app_modal data="db_data"%}
{% /create_app_modal%}

{% #add_schedule_modal data="db_data"%}
{% /add_schedule_modal%}
{% #add_task_modal data="db_data"%}
{% /add_task_modal%}
{% #add_task_one_modal data="db_data"%}
{% /add_task_one_modal%}
{% #add_task_two_modal data="db_data"%}
{% /add_task_two_modal%}
{% #update_email_modal data="db_data"%}
{% /update_email_modal%}
{% #update_password_modal data="db_data"%}
{% /update_password_modal%}
{% #update_role_modal data="db_data"%}
{% /update_role_modal%}
{% #update_user_modal data="db_data"%}
{% /update_user_modal%}


{% #invite_modal data="db_data"%}
{% /invite_modal%}
{% #plans_modal data="db_data"%}
{% /plans_modal%}
{% #user_search_modal data="db_data"%}
{% /user_search_modal%}
{% #users_modal data="db_data"%}
{% /users_modal %}
{% endblock modal %} 
