{% load static %}

<div class="card card-flush pt-3 mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header">
        <!--begin::Card title-->
        <div class="card-title">
            <h2>Recent Events</h2>
        </div>
        <!--end::Card title-->

        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <a href="#" class="btn btn-light-primary">View All Events</a>
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->

    <!--begin::Card body-->
    <div class="card-body pt-0">
        <!--begin::Table wrapper-->
        <div class="table-responsive">
            <!--begin::Table-->
            <table class="table align-middle table-row-dashed fs-6 text-gray-600 fw-semibold gy-5" id="kt_table_customers_events">
                <tbody>
                                            <tr>
                            <td class="min-w-400px">
                                Invoice <a href="#" class="fw-bold text-gray-800 text-hover-primary me-1">2688-1741</a> status has changed from <span class="badge badge-light-info me-1">In Progress</span> to <span class="badge badge-light-primary">In Transit</span> 
                            </td>
                            <td class="pe-0 text-gray-600 text-end min-w-200px">
                                24 Jun 2023, 11:05 am                            </td>
                        </tr>
                                            <tr>
                            <td class="min-w-400px">
                                Invoice <a href="#" class="fw-bold text-gray-800 text-hover-primary me-1">8526-9759</a> status has changed from <span class="badge badge-light-primary me-1">In Transit</span> to <span class="badge badge-light-success">Approved</span> 
                            </td>
                            <td class="pe-0 text-gray-600 text-end min-w-200px">
                                10 Nov 2023, 6:43 am                            </td>
                        </tr>
                                            <tr>
                            <td class="min-w-400px">
                                Invoice <a href="#" class="fw-bold text-gray-800 text-hover-primary me-1">2688-1741</a> status has changed from <span class="badge badge-light-info me-1">In Progress</span> to <span class="badge badge-light-primary">In Transit</span> 
                            </td>
                            <td class="pe-0 text-gray-600 text-end min-w-200px">
                                10 Mar 2023, 5:30 pm                            </td>
                        </tr>
                                            <tr>
                            <td class="min-w-400px">
                                Invoice <a href="#" class="fw-bold text-gray-800 text-hover-primary me-1">7252-8177</a> has been <span class="badge badge-light-danger">Declined</span> 
                            </td>
                            <td class="pe-0 text-gray-600 text-end min-w-200px">
                                15 Apr 2023, 5:20 pm                            </td>
                        </tr>
                                            <tr>
                            <td class="min-w-400px">
                                <a href="#" class="fw-bold text-gray-800 text-hover-primary me-1">Brian Cox</a> has made payment to <a href="#" class="fw-bold text-gray-800 text-hover-primary">1351-3391</a> 
                            </td>
                            <td class="pe-0 text-gray-600 text-end min-w-200px">
                                10 Nov 2023, 8:43 pm                            </td>
                        </tr>
                                    </tbody>
            </table>
            <!--end::Table-->
        </div>
        <!--end::Table wrapper-->
    </div>
    <!--end::Card body-->
</div>