{% load static %}
{% comment %} <div class="flex-column flex-lg-row-auto w-lg-250px w-xl-300px mb-10 order-1 order-lg-2">
    <!--begin::Card-->
<div class="card card-flush mb-0" data-kt-sticky="true" data-kt-sticky-name="subscription-summary" data-kt-sticky-offset="{default: false, lg: '200px'}" data-kt-sticky-width="{lg: '250px', xl: '300px'}" data-kt-sticky-left="auto" data-kt-sticky-top="150px" data-kt-sticky-animation="false" data-kt-sticky-zindex="95" style="z-index: 95; position: fixed; top: 150px; width: 300px; left: 1110px;" data-kt-sticky-enabled="true"> {% endcomment %}
<!--begin::Card header-->
<div class="card">

<div class="card-header">
    <!--begin::Card title-->
    <div class="card-title">
        <h2>Summary</h2>
    </div>
    <!--end::Card title-->

    <!--begin::Card toolbar-->
    <div class="card-toolbar">
        <!--begin::More options-->
        <a href="#" class="btn btn-sm btn-light btn-icon" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
            <i class="ki-duotone ki-dots-square fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>            </a>
        <!--begin::Menu-->
<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-6 w-200px py-4" data-kt-menu="true">
<!--begin::Menu item-->
<div class="menu-item px-3">
    <a href="#" class="menu-link px-3">
        Pause Subscription
    </a>
</div>
<!--end::Menu item-->

<!--begin::Menu item-->
<div class="menu-item px-3">
    <a href="#" class="menu-link px-3" data-kt-subscriptions-view-action="delete">
       Edit Subscription
    </a>
</div>
<!--end::Menu item-->

<!--begin::Menu item-->
<div class="menu-item px-3">
    <a href="#" class="menu-link text-danger px-3" data-kt-subscriptions-view-action="edit">
        Cancel Subscription
    </a>
</div>
<!--end::Menu item-->
</div>
<!--end::Menu-->
        <!--end::More options-->
    </div>
    <!--end::Card toolbar-->
</div>
<!--end::Card header-->

<!--begin::Card body-->
<div class="card-body pt-0 fs-6">
    <!--begin::Section-->
    <div class="mb-7">
                    
        <!--begin::Details-->
        <div class="d-flex align-items-center">
            <!--begin::Avatar-->
            <div class="symbol symbol-60px symbol-circle me-3">
                                                            <img alt="Pic" src="{% static '/assets/media/avatars/300-5.jpg' %}">
                                </div>
            <!--end::Avatar-->

            <!--begin::Info-->
            <div class="d-flex flex-column">
                <!--begin::Name-->
                <a href="#" class="fs-4 fw-bold text-gray-900 text-hover-primary me-2">Sean Bean</a>
                <!--end::Name-->

                <!--begin::Email-->
                <a href="#" class="fw-semibold text-gray-600 text-hover-primary">sean@dellito.com</a>
                <!--end::Email-->
            </div>
            <!--end::Info-->
        </div>
        <!--end::Details-->
    </div>
    <!--end::Section-->

    <!--begin::Seperator-->
    <div class="separator separator-dashed mb-7"></div>
    <!--end::Seperator-->

    <!--begin::Section-->
    <div class="mb-7">
        <!--begin::Title-->
        <h5 class="mb-4">Product details</h5>
        <!--end::Title-->

        <!--begin::Details-->
        <div class="mb-0">
            <!--begin::Plan-->
            <span class="badge badge-light-info me-2">Basic Bundle</span>
            <!--end::Plan-->

            <!--begin::Price-->
            <span class="fw-semibold text-gray-600">$149.99 / Year</span>
            <!--end::Price-->
        </div>
        <!--end::Details-->
    </div>
    <!--end::Section-->

    <!--begin::Seperator-->
    <div class="separator separator-dashed mb-7"></div>
    <!--end::Seperator-->

    <!--begin::Section-->
    <div class="mb-10">
        <!--begin::Title-->
        <h5 class="mb-4">Payment Details</h5>
        <!--end::Title-->

        <!--begin::Details-->
        <div class="mb-0">
            <!--begin::Card info-->
            <div class="fw-semibold text-gray-600 d-flex align-items-center">
                Mastercard

                <img src="{% static '/assets/media/svg/card-logos/mastercard.svg' %}" class="w-35px ms-2" alt="">
            </div>
            <!--end::Card info-->

            <!--begin::Card expiry-->
            <div class="fw-semibold text-gray-600">Expires Dec 2024</div>
            <!--end::Card expiry-->
        </div>
        <!--end::Details-->
    </div>
    <!--end::Section-->

    <!--begin::Seperator-->
    <div class="separator separator-dashed mb-7"></div>
    <!--end::Seperator-->

    <!--begin::Section-->
    <div class="mb-10">
        <!--begin::Title-->
        <h5 class="mb-4">Subscription Details</h5>
        <!--end::Title-->

        <!--begin::Details-->
        <table class="table fs-6 fw-semibold gs-0 gy-2 gx-2">
            <!--begin::Row-->
            <tbody><tr class="">
                <td class="text-gray-400">Subscription ID:</td>
                <td class="text-gray-800">sub_4567_8765</td>
            </tr>
            <!--end::Row-->

            <!--begin::Row-->
            <tr class="">
                <td class="text-gray-400">Started:</td>
                <td class="text-gray-800">15 Apr 2021</td>
            </tr>
            <!--end::Row-->

            <!--begin::Row-->
            <tr class="">
                <td class="text-gray-400">Status:</td>
                <td><span class="badge badge-light-success">Active</span></td>
            </tr>
            <!--end::Row-->

            <!--begin::Row-->
            <tr class="">
                <td class="text-gray-400">Next Invoice:</td>
                <td class="text-gray-800">15 Apr 2022</td>
            </tr>
            <!--end::Row-->
        </tbody></table>
        <!--end::Details-->
    </div>
    <!--end::Section-->

    <!--begin::Actions-->
    <div class="mb-0">
        <a href="/metronic8/demo7/../demo7/apps/subscriptions/add.html" class="btn btn-primary" id="kt_subscriptions_create_button">                
            Edit Subscription
        </a>
    </div>
    <!--end::Actions-->
</div>
<!--end::Card body-->
</div>
<!--end::Card-->    </div>
</div>