{% load static %}

<div class="card mb-5 mb-xl-10">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Title-->
    <div class="card-title">
      <h3>Billing Address</h3>
    </div>
    <!--end::Title-->
  </div>
  <!--end::Card header-->

  <!--begin::Card body-->
  <div class="card-body">
    <!--begin::Addresses-->
    <div class="row gx-9 gy-6">
      <!--begin::Col-->
      <div class="col-xl-6" data-kt-billing-element="address">
        <!--begin::Address-->
        <div
          class="card card-dashed h-xl-100 flex-row flex-stack flex-wrap p-6"
        >
          <!--begin::Details-->
          <div class="d-flex flex-column py-2">
            <div class="d-flex align-items-center fs-5 fw-bold mb-5">
              Address 1
              <span class="badge badge-light-success fs-7 ms-2">Primary</span>
            </div>

            <div class="fs-6 fw-semibold text-gray-600">
              Ap #285-7193 Ullamcorper Avenue<br />
              Amesbury HI 93373<br />US
            </div>
          </div>
          <!--end::Details-->

          <!--begin::Actions-->
          <div class="d-flex align-items-center py-2">
            <button
              class="btn btn-sm btn-light btn-active-light-primary me-3"
              data-kt-billing-action="address-delete"
            >
              <!--begin::Indicator label-->
              <span class="indicator-label"> Delete</span>
              <!--end::Indicator label-->

              <!--begin::Indicator progress-->
              <span class="indicator-progress">
                Please wait...
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span>
              </span>
              <!--end::Indicator progress-->
            </button>
            <button
              class="btn btn-sm btn-light btn-active-light-primary"
              data-bs-toggle="modal"
              data-bs-target="#kt_modal_new_address"
            >
              Edit
            </button>
          </div>
          <!--end::Actions-->
        </div>
        <!--end::Address-->
      </div>
      <!--end::Col-->

      <!--begin::Col-->
      <div class="col-xl-6" data-kt-billing-element="address">
        <!--begin::Address-->
        <div
          class="card card-dashed h-xl-100 flex-row flex-stack flex-wrap p-6"
        >
          <!--begin::Details-->
          <div class="d-flex flex-column py-2">
            <div class="d-flex align-items-center fs-5 fw-bold mb-3">
              Address 2
            </div>

            <div class="fs-6 fw-semibold text-gray-600">
              Ap #285-7193 Ullamcorper Avenue<br />
              Amesbury HI 93373<br />US
            </div>
          </div>
          <!--end::Details-->

          <!--begin::Actions-->
          <div class="d-flex align-items-center py-2">
            <button
              class="btn btn-sm btn-light btn-active-light-primary me-3"
              data-kt-billing-action="address-delete"
            >
              <!--begin::Indicator label-->
              <span class="indicator-label"> Delete</span>
              <!--end::Indicator label-->

              <!--begin::Indicator progress-->
              <span class="indicator-progress">
                Please wait...
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span>
              </span>
              <!--end::Indicator progress-->
            </button>
            <button
              class="btn btn-sm btn-light btn-active-light-primary"
              data-bs-toggle="modal"
              data-bs-target="#kt_modal_new_address"
            >
              Edit
            </button>
          </div>
          <!--end::Actions-->
        </div>
        <!--end::Address-->
      </div>
      <!--end::Col-->

      <!--begin::Col-->
      <div class="col-xl-6" data-kt-billing-element="address">
        <!--begin::Address-->
        <div
          class="card card-dashed h-xl-100 flex-row flex-stack flex-wrap p-6"
        >
          <!--begin::Details-->
          <div class="d-flex flex-column py-2">
            <div class="d-flex align-items-center fs-5 fw-bold mb-3">
              Address 3
            </div>

            <div class="fs-6 fw-semibold text-gray-600">
              Ap #285-7193 Ullamcorper Avenue<br />
              Amesbury HI 93373<br />US
            </div>
          </div>
          <!--end::Details-->

          <!--begin::Actions-->
          <div class="d-flex align-items-center py-2">
            <button
              class="btn btn-sm btn-light btn-active-light-primary me-3"
              data-kt-billing-action="address-delete"
            >
              <!--begin::Indicator label-->
              <span class="indicator-label"> Delete</span>
              <!--end::Indicator label-->

              <!--begin::Indicator progress-->
              <span class="indicator-progress">
                Please wait...
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span>
              </span>
              <!--end::Indicator progress-->
            </button>
            <button
              class="btn btn-sm btn-light btn-active-light-primary"
              data-bs-toggle="modal"
              data-bs-target="#kt_modal_new_address"
            >
              Edit
            </button>
          </div>
          <!--end::Actions-->
        </div>
        <!--end::Address-->
      </div>
      <!--end::Col-->

      <!--begin::Col-->
      <div class="col-xl-6">
        <!--begin::Notice-->
        <div
          class="notice d-flex bg-light-primary rounded border-primary border border-dashed flex-stack h-xl-100 mb-10 p-6"
        >
          <!--begin::Wrapper-->
          <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
            <!--begin::Content-->
            <div class="mb-3 mb-md-0 fw-semibold">
              <h4 class="text-gray-900 fw-bold">
                This is a very important note!
              </h4>

              <div class="fs-6 text-gray-700 pe-7">
                Writing headlines for blog posts is much science and probably
                cool audience
              </div>
            </div>
            <!--end::Content-->

            <!--begin::Action-->
            <a
              href="#"
              class="btn btn-primary px-6 align-self-center text-nowrap"
              data-bs-toggle="modal"
              data-bs-target="#kt_modal_new_address"
            >
              New Address
            </a>
            <!--end::Action-->
          </div>
          <!--end::Wrapper-->
        </div>
      </div>
    </div>

    <div class="mt-10">
      <h3 class="mb-3">Tax Location</h3>

      <div class="fw-semibold text-gray-600 fs-6">
        United States - 10% VAT<br />
        <a class="fw-bold" href="#">More Info</a>
      </div>
    </div>
    <!--end::Tax info-->
  </div>
  <!--end::Card body-->
</div>