{% load static %}
<div class="card mb-5 mb-xl-10">
  <!--begin::Card body-->
  <div class="card-body">
    <!--begin::Notice-->
    <div
      class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-12 p-6"
    >
      <!--begin::Icon-->
      <i class="ki-duotone ki-information fs-2tx text-warning me-4"
        ><span class="path1"></span><span class="path2"></span
        ><span class="path3"></span
      ></i>
      <!--end::Icon-->

      <!--begin::Wrapper-->
      <div class="d-flex flex-stack flex-grow-1">
        <!--begin::Content-->
        <div class="fw-semibold">
          <h4 class="text-gray-900 fw-bold">We need your attention!</h4>

          <div class="fs-6 text-gray-700">
            Your payment was declined. To start using tools, please
            <a
              href="#"
              class="fw-bold"
              data-bs-toggle="modal"
              data-bs-target="#kt_modal_new_card"
              >Add Payment Method</a
            >.
          </div>
        </div>
        <!--end::Content-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Notice-->

    <!--begin::Row-->
    <div class="row">
      <!--begin::Col-->
      <div class="col-lg-7">
        <!--begin::Heading-->
        <h3 class="mb-2">Active until Dec 09, 2023</h3>
        <p class="fs-6 text-gray-600 fw-semibold mb-6 mb-lg-15">
          We will send you a notification upon Subscription expiration
        </p>
        <!--end::Heading-->

        <!--begin::Info-->
        <div class="fs-5 mb-2">
          <span class="text-gray-800 fw-bold me-1">$24.99</span>
          <span class="text-gray-600 fw-semibold">Per Month</span>
        </div>
        <!--end::Info-->

        <!--begin::Notice-->
        <div class="fs-6 text-gray-600 fw-semibold">
          Extended Pro Package. Up to 100 Agents &amp; 25 Projects
        </div>
        <!--end::Notice-->
      </div>
      <!--end::Col-->

      <!--begin::Col-->
      <div class="col-lg-5">
        <!--begin::Heading-->
        <div class="d-flex text-muted fw-bold fs-5 mb-3">
          <span class="flex-grow-1 text-gray-800">Users</span>
          <span class="text-gray-800">86 of 100 Used</span>
        </div>
        <!--end::Heading-->

        <!--begin::Progress-->
        <div class="progress h-8px bg-light-primary mb-2">
          <div
            class="progress-bar bg-primary"
            role="progressbar"
            style="width: 86%"
            aria-valuenow="86"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <!--end::Progress-->

        <!--begin::Description-->
        <div class="fs-6 text-gray-600 fw-semibold mb-10">
          14 Users remaining until your plan requires update
        </div>
        <!--end::Description-->

        <!--begin::Action-->
        <div class="d-flex justify-content-end pb-0 px-0">
          <a
            href="#"
            class="btn btn-light btn-active-light-primary me-2"
            id="kt_account_billing_cancel_subscription_btn"
            >Cancel Subscription</a
          >
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#kt_modal_upgrade_plan"
          >
            Upgrade Plan
          </button>
        </div>
        <!--end::Action-->
      </div>
      <!--end::Col-->
    </div>
    <!--end::Row-->
  </div>
  <!--end::Card body-->
</div>
