{% load static %}

<div class="card ">
    <!--begin::Card header-->
    <div class="card-header card-header-stretch border-bottom border-gray-200">
        <!--begin::Title-->
        <div class="card-title">
            <h3 class="fw-bold m-0">Billing History</h3>
        </div>
        <!--end::Title-->

        <!--begin::Toolbar-->
        <div class="card-toolbar m-0">
            <!--begin::Tab nav-->
            <ul class="nav nav-stretch nav-line-tabs border-transparent" role="tablist">
                <!--begin::Tab nav item-->
                <li class="nav-item" role="presentation">
                    <a id="kt_billing_6months_tab" class="nav-link fs-5 fw-semibold me-3 active" data-bs-toggle="tab" role="tab" href="#kt_billing_months" aria-selected="true">
                        Month
                    </a>
                </li>
                <!--end::Tab nav item-->

                <!--begin::Tab nav item-->
                <li class="nav-item" role="presentation">
                    <a id="kt_billing_1year_tab" class="nav-link fs-5 fw-semibold me-3" data-bs-toggle="tab" role="tab" href="#kt_billing_year" aria-selected="false" tabindex="-1">
                        Year
                    </a>
                </li>
                <!--end::Tab nav item-->

                <!--begin::Tab nav item-->
                <li class="nav-item" role="presentation">
                    <a id="kt_billing_alltime_tab" class="nav-link fs-5 fw-semibold" data-bs-toggle="tab" role="tab" href="#kt_billing_all" aria-selected="false" tabindex="-1">
                        All Time
                    </a>
                </li>
                <!--end::Tab nav item-->
            </ul>
            <!--end::Tab nav-->
        </div>
        <!--end::Toolbar-->
    </div>
    <!--end::Card header-->

    <!--begin::Tab Content-->
    <div class="tab-content">
                        <!--begin::Tab panel-->
        <div id="kt_billing_months" class="card-body p-0 tab-pane fade show active" role="tabpanel" aria-labelledby="kt_billing_months">
            <!--begin::Table container-->
            <div class="table-responsive">
                <!--begin::Table-->
                <table class="table table-row-bordered align-middle gy-4 gs-9">
                    <thead class="border-bottom border-gray-200 fs-6 text-gray-600 fw-bold bg-light bg-opacity-75">
                        <tr>
                            <td class="min-w-150px">Date</td>
                            <td class="min-w-250px">Description</td>
                            <td class="min-w-150px">Amount</td>
                            <td class="min-w-150px">Invoice</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody class="fw-semibold text-gray-600">
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Nov 01, 2020</td>
                                <td><a href="#">Invoice for Ocrober 2023</a></td>
                                <td>$123.79</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Oct 08, 2020</td>
                                <td><a href="#">Invoice for September 2023</a></td>
                                <td>$98.03</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Aug 24, 2020</td>
                                <td>Paypal</td>
                                <td>$35.07</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Aug 01, 2020</td>
                                <td><a href="#">Invoice for July 2023</a></td>
                                <td>$142.80</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Jul 01, 2020</td>
                                <td><a href="#">Invoice for June 2023</a></td>
                                <td>$123.79</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Jun 17, 2020</td>
                                <td>Paypal</td>
                                <td>$523.09</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Jun 01, 2020</td>
                                <td><a href="#">Invoice for May 2023</a></td>
                                <td>$123.79</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                            </tbody>
                </table>
                <!--end::Table-->
            </div>
            <!--end::Table container-->
        </div>
        <!--end::Tab panel-->
                        <!--begin::Tab panel-->
        <div id="kt_billing_year" class="card-body p-0 tab-pane fade " role="tabpanel" aria-labelledby="kt_billing_year">
            <!--begin::Table container-->
            <div class="table-responsive">
                <!--begin::Table-->
                <table class="table table-row-bordered align-middle gy-4 gs-9">
                    <thead class="border-bottom border-gray-200 fs-6 text-gray-600 fw-bold bg-light bg-opacity-75">
                        <tr>
                            <td class="min-w-150px">Date</td>
                            <td class="min-w-250px">Description</td>
                            <td class="min-w-150px">Amount</td>
                            <td class="min-w-150px">Invoice</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody class="fw-semibold text-gray-600">
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Dec 01, 2021</td>
                                <td><a href="#">Billing for Ocrober 2023</a></td>
                                <td>$250.79</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Oct 08, 2021</td>
                                <td><a href="#">Statements for September 2023</a></td>
                                <td>$98.03</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Aug 24, 2021</td>
                                <td>Paypal</td>
                                <td>$35.07</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Aug 01, 2021</td>
                                <td><a href="#">Invoice for July 2023</a></td>
                                <td>$142.80</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Jul 01, 2021</td>
                                <td><a href="#">Statements for June 2023</a></td>
                                <td>$123.79</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Jun 17, 2021</td>
                                <td>Paypal</td>
                                <td>$23.09</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                            </tbody>
                </table>
                <!--end::Table-->
            </div>
            <!--end::Table container-->
        </div>
        <!--end::Tab panel-->
                        <!--begin::Tab panel-->
        <div id="kt_billing_all" class="card-body p-0 tab-pane fade " role="tabpanel" aria-labelledby="kt_billing_all">
            <!--begin::Table container-->
            <div class="table-responsive">
                <!--begin::Table-->
                <table class="table table-row-bordered align-middle gy-4 gs-9">
                    <thead class="border-bottom border-gray-200 fs-6 text-gray-600 fw-bold bg-light bg-opacity-75">
                        <tr>
                            <td class="min-w-150px">Date</td>
                            <td class="min-w-250px">Description</td>
                            <td class="min-w-150px">Amount</td>
                            <td class="min-w-150px">Invoice</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody class="fw-semibold text-gray-600">
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Nov 01, 2021</td>
                                <td><a href="#">Billing for Ocrober 2023</a></td>
                                <td>$123.79</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Aug 10, 2021</td>
                                <td>Paypal</td>
                                <td>$35.07</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Aug 01, 2021</td>
                                <td><a href="#">Invoice for July 2023</a></td>
                                <td>$142.80</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Jul 20, 2021</td>
                                <td><a href="#">Statements for June 2023</a></td>
                                <td>$123.79</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Jun 17, 2021</td>
                                <td>Paypal</td>
                                <td>$23.09</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                                    <!--begin::Table row-->
                            <tr>
                                <td>Jun 01, 2021</td>
                                <td><a href="#">Invoice for May 2023</a></td>
                                <td>$123.79</td>
                                <td><a href="#" class="btn btn-sm btn-light btn-active-light-primary">PDF</a></td>
                                <td class="text-right"><a href="#" class="btn btn-sm btn-light btn-active-light-primary">View</a></td>
                            </tr>
                            <!--end::Table row-->
                                            </tbody>
                </table>
                <!--end::Table-->
            </div>
            <!--end::Table container-->
        </div>
        <!--end::Tab panel-->
            </div>
    <!--end::Tab Content-->
</div>