{% load static %}
<!--begin::Col-->
<div class="col-lg-6">
  <!--begin::Card Contribute-->
  <div class="card card-flush h-lg-100">
    <!--begin::Card header-->
    <div class="card-header mt-6">
      <!--begin::Card title-->
      <div class="card-title flex-column">
        <h3 class="fw-bold mb-1">New Contibutors</h3>
        <div class="fs-6 text-gray-400">From total 482 Participants</div>
      </div>
      <!--end::Card title-->

      <!--begin::Card toolbar-->
      <div class="card-toolbar">
        <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm"
          >View All
        </a>
      </div>
      <!--end::Card toolbar-->
    </div>
    <!--end::Card toolbar-->

    <!--begin::Card body-->
    <div class="card-body d-flex flex-column p-9 pt-3 mb-9">
      <!--begin::Item-->
      <div class="d-flex align-items-center">
        <!--begin::Avatar-->
        <div class="me-5 position-relative">
          <!--begin::Image-->
          <div class="symbol symbol-35px symbol-circle">
            <img
              alt="Pic"
              src="{% static 'assets/media/avatars/300-25.jpg' %}"
            />
          </div>
          <!--end::Image-->
        </div>
        <!--end::Avatar-->

        <!--begin::Details-->
        <div class="fw-semibold">
          <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary"
            >Brian Cox
          </a>

          <div class="text-gray-400">4 Pending &amp; 115 Completed</div>
        </div>
        <!--end::Details-->

        <!--begin::Badge-->
        <div class="badge badge-light ms-auto">4</div>
        <!--end::Badge-->
      </div>
      <!--end::Item-->
    </div>
    <!--end::Card body-->
  </div>
  <!--end::Card-->
</div>
<!--end::Col-->
