{% load static %}
<div class="card card-flush mt-6 mt-xl-9">
  <div class="card-header mt-5">
    <div class="card-title flex-column">
      <h3 class="fw-bold mb-1">Project Spendings</h3>
      <div class="fs-6 text-gray-400">Total $260,300 sepnt so far</div>
    </div>
    <div class="card-toolbar my-1">
      <div class="me-6 my-1">
        <select
          id="kt_filter_year"
          name="year"
          data-control="select2"
          data-hide-search="true"
          class="w-125px form-select form-select-solid form-select-sm select2-hidden-accessible"
          data-select2-id="select2-data-kt_filter_year"
          tabindex="-1"
          aria-hidden="true"
          data-kt-initialized="1"
        >
          <option
            value="All"
            selected=""
            data-select2-id="select2-data-44-ba61"
          >
            All time
          </option>
          <option value="thisyear">This year</option>
          <option value="thismonth">This month</option>
          <option value="lastmonth">Last month</option>
          <option value="last90days">Last 90 days</option>
        </select>
        <span
          class="select2 select2-container select2-container--bootstrap5"
          dir="ltr"
          data-select2-id="select2-data-43-4mrs"
          style="width: 100%"
          ><span class="selection"
            ><span
              class="select2-selection select2-selection--single w-125px form-select form-select-solid form-select-sm"
              role="combobox"
              aria-haspopup="true"
              aria-expanded="false"
              tabindex="0"
              aria-disabled="false"
              aria-labelledby="select2-kt_filter_year-container"
              aria-controls="select2-kt_filter_year-container"
              ><span
                class="select2-selection__rendered"
                id="select2-kt_filter_year-container"
                role="textbox"
                aria-readonly="true"
                title="All time"
                >All time</span
              ><span class="select2-selection__arrow" role="presentation"
                ><b role="presentation"></b></span></span></span
          ><span class="dropdown-wrapper" aria-hidden="true"></span
        ></span>
      </div>

      <div class="me-4 my-1">
        <select
          id="kt_filter_orders"
          name="orders"
          data-control="select2"
          data-hide-search="true"
          class="w-125px form-select form-select-solid form-select-sm select2-hidden-accessible"
          data-select2-id="select2-data-kt_filter_orders"
          tabindex="-1"
          aria-hidden="true"
          data-kt-initialized="1"
        >
          <option
            value="All"
            selected=""
            data-select2-id="select2-data-46-tn7d"
          >
            All Orders
          </option>
          <option value="Approved">Approved</option>
          <option value="Declined">Declined</option>
          <option value="In Progress">In Progress</option>
          <option value="In Transit">In Transit</option>
        </select>
        <span
          class="select2 select2-container select2-container--bootstrap5"
          dir="ltr"
          data-select2-id="select2-data-45-lhet"
          style="width: 100%"
          ><span class="selection"
            ><span
              class="select2-selection select2-selection--single w-125px form-select form-select-solid form-select-sm"
              role="combobox"
              aria-haspopup="true"
              aria-expanded="false"
              tabindex="0"
              aria-disabled="false"
              aria-labelledby="select2-kt_filter_orders-container"
              aria-controls="select2-kt_filter_orders-container"
              ><span
                class="select2-selection__rendered"
                id="select2-kt_filter_orders-container"
                role="textbox"
                aria-readonly="true"
                title="All Orders"
                >All Orders</span
              ><span class="select2-selection__arrow" role="presentation"
                ><b role="presentation"></b></span></span></span
          ><span class="dropdown-wrapper" aria-hidden="true"></span
        ></span>
      </div>

      <div class="d-flex align-items-center position-relative my-1">
        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-3"
          ><span class="path1"></span><span class="path2"></span
        ></i>
        <input
          type="text"
          id="kt_filter_search"
          class="form-control form-control-solid form-select-sm w-150px ps-9"
          placeholder="Search Order"
        />
      </div>
    </div>
  </div>

  <!--begin::Card body-->
  <div class="card-body pt-0">
    <!--begin::Table container-->
    <div class="table-responsive">
      <!--begin::Table-->
      <div
        id="kt_profile_overview_table_wrapper"
        class="dataTables_wrapper dt-bootstrap4 no-footer"
      >
        <div class="table-responsive">
          <table
            id="kt_profile_overview_table"
            class="table table-row-bordered table-row-dashed gy-4 align-middle fw-bold dataTable no-footer"
          >
            <thead class="fs-7 text-gray-400 text-uppercase">
              <tr>
                <th
                  class="min-w-250px sorting"
                  tabindex="0"
                  aria-controls="kt_profile_overview_table"
                  rowspan="1"
                  colspan="1"
                  aria-label="Manager: activate to sort column ascending"
                  style="width: 377.5px"
                >
                  Manager
                </th>
                <th
                  class="min-w-150px sorting"
                  tabindex="0"
                  aria-controls="kt_profile_overview_table"
                  rowspan="1"
                  colspan="1"
                  aria-label="Date: activate to sort column ascending"
                  style="width: 231.469px"
                >
                  Date
                </th>
                <th
                  class="min-w-90px sorting"
                  tabindex="0"
                  aria-controls="kt_profile_overview_table"
                  rowspan="1"
                  colspan="1"
                  aria-label="Amount: activate to sort column ascending"
                  style="width: 140.859px"
                >
                  Amount
                </th>
                <th
                  class="min-w-90px sorting"
                  tabindex="0"
                  aria-controls="kt_profile_overview_table"
                  rowspan="1"
                  colspan="1"
                  aria-label="Status: activate to sort column ascending"
                  style="width: 149.547px"
                >
                  Status
                </th>
                <th
                  class="min-w-50px text-end sorting"
                  tabindex="0"
                  aria-controls="kt_profile_overview_table"
                  rowspan="1"
                  colspan="1"
                  aria-label="Details: activate to sort column ascending"
                  style="width: 101.125px"
                >
                  Details
                </th>
              </tr>
            </thead>
            <tbody class="fs-6">
              <tr class="even">
                <td>
                  <div class="d-flex align-items-center">
                    <div class="me-5 position-relative">
                      <div class="symbol symbol-35px symbol-circle">
                        <span
                          class="symbol-label bg-light-danger text-danger fw-semibold"
                        >
                          M
                        </span>
                      </div>

                      <!--begin::Online-->
                      <div
                        class="bg-success position-absolute h-8px w-8px rounded-circle translate-middle start-100 top-100 ms-n1 mt-n1"
                      ></div>
                      <!--end::Online-->
                    </div>

                    <div class="d-flex flex-column justify-content-center">
                      <a href="" class="fs-6 text-gray-800 text-hover-primary"
                        >Melody Macy</a
                      >

                      <div class="fw-semibold text-gray-400">
                        melody@altbox.com
                      </div>
                    </div>
                  </div>
                </td>
                <td data-order="2023-06-24T00:00:00+01:00">Jun 24, 2023</td>
                <td>$609.00</td>
                <td>
                  <span class="badge badge-light-warning fw-bold px-4 py-3">
                    Pending
                  </span>
                </td>
                <td class="text-end">
                  <a href="#" class="btn btn-light btn-sm">View</a>
                </td>
              </tr>
              <tr class="odd">
                <td>
                  <div class="d-flex align-items-center">
                    <div class="me-5 position-relative">
                      <div class="symbol symbol-35px symbol-circle">
                        <img
                          alt="Pic"
                          src="{% static 'assets/media/avatars/300-1.jpg' %}"
                        />
                      </div>
                    </div>

                    <div class="d-flex flex-column justify-content-center">
                      <a href="" class="fs-6 text-gray-800 text-hover-primary"
                        >Max Smith</a
                      >

                      <div class="fw-semibold text-gray-400">max@kt.com</div>
                    </div>
                  </div>
                </td>
                <td data-order="2023-10-25T00:00:00+01:00">Oct 25, 2023</td>
                <td>$763.00</td>
                <td>
                  <span class="badge badge-light-warning fw-bold px-4 py-3">
                    Pending
                  </span>
                </td>
                <td class="text-end">
                  <a href="#" class="btn btn-light btn-sm">View</a>
                </td>
              </tr>
              <tr class="even">
                <td>
                  <div class="d-flex align-items-center">
                    <div class="me-5 position-relative">
                      <div class="symbol symbol-35px symbol-circle">
                        <img
                          alt="Pic"
                          src="{% static 'assets/media/avatars/300-5.jpg' %}"
                        />
                      </div>
                    </div>

                    <div class="d-flex flex-column justify-content-center">
                      <a href="" class="fs-6 text-gray-800 text-hover-primary"
                        >Sean Bean</a
                      >

                      <div class="fw-semibold text-gray-400">
                        sean@dellito.com
                      </div>
                    </div>
                  </div>
                </td>
                <td data-order="2023-11-10T00:00:00+01:00">Nov 10, 2023</td>
                <td>$564.00</td>
                <td>
                  <span class="badge badge-light-danger fw-bold px-4 py-3">
                    Rejected
                  </span>
                </td>
                <td class="text-end">
                  <a href="#" class="btn btn-light btn-sm">View</a>
                </td>
              </tr>
              <tr class="odd">
                <td>
                  <div class="d-flex align-items-center">
                    <div class="me-5 position-relative">
                      <div class="symbol symbol-35px symbol-circle">
                        <img
                          alt="Pic"
                          src="{% static 'assets/media/avatars/300-25.jpg' %}"
                        />
                      </div>
                    </div>

                    <div class="d-flex flex-column justify-content-center">
                      <a href="" class="fs-6 text-gray-800 text-hover-primary"
                        >Brian Cox</a
                      >

                      <div class="fw-semibold text-gray-400">
                        brian@exchange.com
                      </div>
                    </div>
                  </div>
                </td>
                <td data-order="2023-06-20T00:00:00+01:00">Jun 20, 2023</td>
                <td>$691.00</td>
                <td>
                  <span class="badge badge-light-warning fw-bold px-4 py-3">
                    Pending
                  </span>
                </td>
                <td class="text-end">
                  <a href="#" class="btn btn-light btn-sm">View</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div
            class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"
          >
            <div
              class="dataTables_length"
              id="kt_profile_overview_table_length"
            >
              <label
                ><select
                  name="kt_profile_overview_table_length"
                  aria-controls="kt_profile_overview_table"
                  class="form-select form-select-sm form-select-solid"
                >
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select></label
              >
            </div>
          </div>
          <div
            class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end"
          >
            <div
              class="dataTables_paginate paging_simple_numbers"
              id="kt_profile_overview_table_paginate"
            >
              <ul class="pagination">
                <li
                  class="paginate_button page-item previous disabled"
                  id="kt_profile_overview_table_previous"
                >
                  <a
                    href="#"
                    aria-controls="kt_profile_overview_table"
                    data-dt-idx="0"
                    tabindex="0"
                    class="page-link"
                    ><i class="previous"></i
                  ></a>
                </li>
                <li class="paginate_button page-item active">
                  <a
                    href="#"
                    aria-controls="kt_profile_overview_table"
                    data-dt-idx="1"
                    tabindex="0"
                    class="page-link"
                    >1</a
                  >
                </li>
                <li class="paginate_button page-item">
                  <a
                    href="#"
                    aria-controls="kt_profile_overview_table"
                    data-dt-idx="2"
                    tabindex="0"
                    class="page-link"
                    >2</a
                  >
                </li>
                <li class="paginate_button page-item">
                  <a
                    href="#"
                    aria-controls="kt_profile_overview_table"
                    data-dt-idx="3"
                    tabindex="0"
                    class="page-link"
                    >3</a
                  >
                </li>
                <li
                  class="paginate_button page-item next"
                  id="kt_profile_overview_table_next"
                >
                  <a
                    href="#"
                    aria-controls="kt_profile_overview_table"
                    data-dt-idx="4"
                    tabindex="0"
                    class="page-link"
                    ><i class="next"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--end::Table-->
    </div>
    <!--end::Table container-->
  </div>
  <!--end::Card body-->
</div>
