<!--begin::Col-->
<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
  <!--begin::Card widget 17-->
  <div class="card card-flush h-md-50 mb-5 mb-xl-10">
    <!--begin::Header-->
    <div class="card-header pt-5">
      <!--begin::Title-->
      <div class="card-title d-flex flex-column">
        <!--begin::Info-->
        <div class="d-flex align-items-center">
          <!--begin::Currency-->
          <span class="fs-4 fw-semibold text-gray-400 me-1 align-self-start"
            >$</span
          >
          <!--end::Currency-->
          <!--begin::Amount-->
          <span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2">69,700</span>
          <!--end::Amount-->
          <!--begin::Badge-->
          <span class="badge badge-light-success fs-base">
            <i class="ki-duotone ki-arrow-up fs-5 text-success ms-n1">
              <span class="path1"></span>
              <span class="path2"></span> </i
            >2.2%</span
          >
          <!--end::Badge-->
        </div>
        <!--end::Info-->
        <!--begin::Subtitle-->
        <span class="text-gray-400 pt-1 fw-semibold fs-6"
          >Projects Earnings in April</span
        >
        <!--end::Subtitle-->
      </div>
      <!--end::Title-->
    </div>
    <!--end::Header-->
    <!--begin::Card body-->
    <div class="card-body pt-2 pb-4 d-flex flex-wrap align-items-center">
      <!--begin::Chart-->
      <div class="d-flex flex-center me-5 pt-2">
        <div
          id="kt_card_widget_17_chart"
          style="min-width: 70px; min-height: 70px"
          data-kt-size="70"
          data-kt-line="11"
        ></div>
      </div>
      <!--end::Chart-->
      <!--begin::Labels-->
      <div class="d-flex flex-column content-justify-center flex-row-fluid">
        <!--begin::Label-->
        <div class="d-flex fw-semibold align-items-center">
          <!--begin::Bullet-->
          <div class="bullet w-8px h-3px rounded-2 bg-success me-3"></div>
          <!--end::Bullet-->
          <!--begin::Label-->
          <div class="text-gray-500 flex-grow-1 me-4">Leaf CRM</div>
          <!--end::Label-->
          <!--begin::Stats-->
          <div class="fw-bolder text-gray-700 text-xxl-end">$7,660</div>
          <!--end::Stats-->
        </div>
        <!--end::Label-->
        <!--begin::Label-->
        <div class="d-flex fw-semibold align-items-center my-3">
          <!--begin::Bullet-->
          <div class="bullet w-8px h-3px rounded-2 bg-primary me-3"></div>
          <!--end::Bullet-->
          <!--begin::Label-->
          <div class="text-gray-500 flex-grow-1 me-4">Mivy App</div>
          <!--end::Label-->
          <!--begin::Stats-->
          <div class="fw-bolder text-gray-700 text-xxl-end">$2,820</div>
          <!--end::Stats-->
        </div>
        <!--end::Label-->
        <!--begin::Label-->
        <div class="d-flex fw-semibold align-items-center">
          <!--begin::Bullet-->
          <div
            class="bullet w-8px h-3px rounded-2 me-3"
            style="background-color: #e4e6ef"
          ></div>
          <!--end::Bullet-->
          <!--begin::Label-->
          <div class="text-gray-500 flex-grow-1 me-4">Others</div>
          <!--end::Label-->
          <!--begin::Stats-->
          <div class="fw-bolder text-gray-700 text-xxl-end">$45,257</div>
          <!--end::Stats-->
        </div>
        <!--end::Label-->
      </div>
      <!--end::Labels-->
    </div>
    <!--end::Card body-->
  </div>
  <!--end::Card widget 17-->
  <!--begin::List widget 25-->
  <div class="card card-flush h-lg-50">
    <!--begin::Header-->
    <div class="card-header pt-5">
      <!--begin::Title-->
      <h3 class="card-title text-gray-800">Highlights</h3>
      <!--end::Title-->
      <!--begin::Toolbar-->
      <div class="card-toolbar d-none">
        <!--begin::Daterangepicker(defined in src/js/layout/app.js)-->
        <div
          data-kt-daterangepicker="true"
          data-kt-daterangepicker-opens="left"
          class="btn btn-sm btn-light d-flex align-items-center px-4"
        >
          <!--begin::Display range-->
          <div class="text-gray-600 fw-bold">Loading date range...</div>
          <!--end::Display range-->
          <i class="ki-duotone ki-calendar-8 fs-1 ms-2 me-0">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
            <span class="path4"></span>
            <span class="path5"></span>
            <span class="path6"></span>
          </i>
        </div>
        <!--end::Daterangepicker-->
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body pt-5">
      <!--begin::Item-->
      <div class="d-flex flex-stack">
        <!--begin::Section-->
        <div class="text-gray-700 fw-semibold fs-6 me-2">
          Avg. Client Rating
        </div>
        <!--end::Section-->
        <!--begin::Statistics-->
        <div class="d-flex align-items-senter">
          <i class="ki-duotone ki-arrow-up-right fs-2 text-success me-2">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
          <!--begin::Number-->
          <span class="text-gray-900 fw-bolder fs-6">7.8</span>
          <!--end::Number-->
          <span class="text-gray-400 fw-bold fs-6">/10</span>
        </div>
        <!--end::Statistics-->
      </div>
      <!--end::Item-->
      <!--begin::Separator-->
      <div class="separator separator-dashed my-3"></div>
      <!--end::Separator-->
      <!--begin::Item-->
      <div class="d-flex flex-stack">
        <!--begin::Section-->
        <div class="text-gray-700 fw-semibold fs-6 me-2">Avg. Quotes</div>
        <!--end::Section-->
        <!--begin::Statistics-->
        <div class="d-flex align-items-senter">
          <i class="ki-duotone ki-arrow-down-right fs-2 text-danger me-2">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
          <!--begin::Number-->
          <span class="text-gray-900 fw-bolder fs-6">730</span>
          <!--end::Number-->
        </div>
        <!--end::Statistics-->
      </div>
      <!--end::Item-->
      <!--begin::Separator-->
      <div class="separator separator-dashed my-3"></div>
      <!--end::Separator-->
      <!--begin::Item-->
      <div class="d-flex flex-stack">
        <!--begin::Section-->
        <div class="text-gray-700 fw-semibold fs-6 me-2">
          Avg. Agent Earnings
        </div>
        <!--end::Section-->
        <!--begin::Statistics-->
        <div class="d-flex align-items-senter">
          <i class="ki-duotone ki-arrow-up-right fs-2 text-success me-2">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
          <!--begin::Number-->
          <span class="text-gray-900 fw-bolder fs-6">$2,309</span>
          <!--end::Number-->
        </div>
        <!--end::Statistics-->
      </div>
      <!--end::Item-->
    </div>
    <!--end::Body-->
  </div>
  <!--end::LIst widget 25-->
</div>
<!--end::Col-->
