{% extends "base.html" %} 
{% load slippers %} 
{% block content %}

{% comment %} <div class="content d-flex flex-column flex-column-fluid" id="kt_content"> {% endcomment %}

{% comment %} {% #aside %}
{% /aside %}

{% #sign-in %}
{% /sign-in %}

{% #sign-up %}
{% /sign-up %}

{% #two_factor %}
{% /two_factor %}

 {% #new_password %}
{% /new_password %}

{% #reset_password %}
{% /reset_password %}   {% endcomment %}


{% comment %} </div> {% endcomment %}

{% #signupfull %}
{% /signupfull %}

{% endblock content %}


{% block drawer %}
{% #activity_drawer data="db_data"%}
{% /activity_drawer%}
{% #aside_right data="db_data"%}
{% /aside_right%}
{% #cart_drawer data="db_data"%}
{% /cart_drawer%}
{% #chat_drawer data="db_data"%}
{% /chat_drawer%}
{% #scroller data="db_data"%}
{% /scroller%}
{% endblock drawer %} 

{% block modal %}
{% #create_app_modal data="db_data"%}
{% /create_app_modal%}
{% #invite_modal data="db_data"%}
{% /invite_modal%}
{% #plans_modal data="db_data"%}
{% /plans_modal%}
{% #user_search_modal data="db_data"%}
{% /user_search_modal%}
{% #users_modal data="db_data"%}
{% /users_modal %}
{% endblock modal %} 