{% load static %}
<div class="col-md-6 col-xl-4 my-1">
  <a href="#" class="card border-hover-primary">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-9">
      <!--begin::Card Title-->
      <div class="card-title m-0">
        <!--begin::Avatar-->
        <div class="symbol symbol-50px w-50px bg-light">
          <img
            src="{% static 'images/favicons/plurk.svg' %}"
            alt="image"
            class="p-3"
          />
        </div>
        <!--end::Avatar-->
      </div>
      <!--end::Car Title-->

      <!--begin::Card toolbar-->
      <div class="card-toolbar">
        <span class="badge badge-light-primary fw-bold me-auto px-4 py-3"
          >In Progress</span
        >
      </div>
      <!--end::Card toolbar-->
    </div>
    <!--end:: Card header-->

    <!--begin:: Card body-->
    <div class="card-body p-9">
      <!--begin::Name-->
      <div class="fs-3 fw-bold text-dark">Fitness App</div>
      <!--end::Name-->

      <!--begin::Description-->
      <p class="text-gray-400 fw-semibold fs-5 mt-1 mb-7">
        CRM App application to HR efficiency
      </p>
      <!--end::Description-->

      <!--begin::Info-->
      <div class="d-flex flex-wrap mb-5">
        <!--begin::Due-->
        <div
          class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-7 mb-3"
        >
          <div class="fs-6 text-gray-800 fw-bold">Mar 10, 2023</div>
          <div class="fw-semibold text-gray-400">Due Date</div>
        </div>
        <!--end::Due-->

        <!--begin::Budget-->
        <div
          class="border border-gray-500 border-dashed rounded min-w-125px py-3 px-4 mb-3"
        >
          <div class="fs-6 text-gray-800 fw-bold">$284,900.00</div>
          <div class="fw-semibold text-gray-400">Budget</div>
        </div>
        <!--end::Budget-->
      </div>
      <!--end::Info-->

      <!--begin::Progress-->
      <div
        class="h-4px w-100 bg-light mb-5"
        data-bs-toggle="tooltip"
        aria-label="This project 50% completed"
        data-bs-original-title="This project 50% completed"
        data-kt-initialized="1"
      >
        <div
          class="bg-primary rounded h-4px"
          role="progressbar"
          style="width: 50%"
          aria-valuenow=" 50"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <!--end::Progress-->

      <!--begin::Users-->
      <div class="symbol-group symbol-hover">
        <!--begin::User-->
        <div
          class="symbol symbol-35px symbol-circle"
          data-bs-toggle="tooltip"
          aria-label="Emma Smith"
          data-bs-original-title="Emma Smith"
          data-kt-initialized="1"
        >
          <img alt="Pic" src="{% static 'images/avatars/300-1.jpg' %}" />
        </div>
        <!--begin::User-->
        <!--begin::User-->
        <div
          class="symbol symbol-35px symbol-circle"
          data-bs-toggle="tooltip"
          aria-label="Rudy Stone"
          data-bs-original-title="Rudy Stone"
          data-kt-initialized="1"
        >
          <img alt="Pic" src="{% static 'images/avatars/300-2.jpg' %}" />
        </div>
        <!--begin::User-->
        <!--begin::User-->
        <div
          class="symbol symbol-35px symbol-circle"
          data-bs-toggle="tooltip"
          data-bs-original-title="Susan Redwood"
          data-kt-initialized="1"
        >
          <span class="symbol-label bg-primary text-light fw-bold">S</span>
        </div>
        <!--begin::User-->
      </div>
      <!--end::Users-->
    </div>
    <!--end:: Card body-->
  </a>
  <!--begin::Card-->
  <!--end::Card-->
</div>
