{% load static %}
<div class="card-header card-header-stretch">
    <!--begin::Title-->
    <div class="card-title d-flex align-items-center">            
        <i class="ki-duotone ki-calendar-8 fs-1 text-primary me-3 lh-0"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></i> 	

        <h3 class="fw-bold m-0 text-gray-800">Jan 23, 2023</h3>
    </div>
    <!--end::Title-->

    <!--begin::Toolbar-->
    <div class="card-toolbar m-0">
        <!--begin::Tab nav-->
        <ul class="nav nav-tabs nav-line-tabs nav-stretch fs-6 border-0 fw-bold" role="tablist">
            <li class="nav-item" role="presentation">
                <a id="kt_activity_today_tab" class="nav-link justify-content-center text-active-gray-800 active" data-bs-toggle="tab" role="tab" href="#kt_activity_today" aria-selected="true">
                    Today
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a id="kt_activity_week_tab" class="nav-link justify-content-center text-active-gray-800" data-bs-toggle="tab" role="tab" href="#kt_activity_week" aria-selected="false" tabindex="-1">
                    Week
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a id="kt_activity_month_tab" class="nav-link justify-content-center text-active-gray-800" data-bs-toggle="tab" role="tab" href="#kt_activity_month" aria-selected="false" tabindex="-1">
                    Month
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a id="kt_activity_year_tab" class="nav-link justify-content-center text-active-gray-800 text-hover-gray-800" data-bs-toggle="tab" role="tab" href="#kt_activity_year" aria-selected="false" tabindex="-1">
                    2023                    </a>
            </li>
        </ul>
        <!--end::Tab nav-->
    </div>
    <!--end::Toolbar-->
</div>