{% load static %}
<!--begin::Col-->
<div class="col-xl-6">
  <!--begin::Engage widget 9-->
  <div
    class="card h-lg-100"
    style="background: linear-gradient(112.14deg, #ff8a00 0%, #e96922 100%)"
  >
    <!--begin::Body-->
    <div class="card-body">
      <!--begin::Row-->
      <div class="row align-items-center">
        <!--begin::Col-->
        <div class="col-sm-7 pe-0 mb-5 mb-sm-0">
          <!--begin::Wrapper-->
          <div
            class="d-flex justify-content-between h-100 flex-column pt-xl-5 pb-xl-2 ps-xl-7"
          >
            <!--begin::Container-->
            <div class="mb-7">
              <!--begin::Title-->
              <div class="mb-6">
                <h3 class="fs-2x fw-semibold text-white">Upgrade Your Plan</h3>
                <span class="fw-semibold text-white opacity-75"
                  >Flat cartoony and illustrations with vivid color</span
                >
              </div>
              <!--end::Title-->
              <!--begin::Items-->
              <div class="d-flex align-items-center flex-wrap d-grid gap-2">
                <!--begin::Item-->
                <div class="d-flex align-items-center me-5 me-xl-13">
                  <!--begin::Symbol-->
                  <div class="symbol symbol-30px symbol-circle me-3">
                    <span
                      class="symbol-label"
                      style="background: rgba(255, 255, 255, 0.15)"
                    >
                      <i class="ki-duotone ki-abstract-41 fs-4 text-white">
                        <span class="path1"></span>
                        <span class="path2"></span>
                      </i>
                    </span>
                  </div>
                  <!--end::Symbol-->
                  <!--begin::Info-->
                  <div class="m-0">
                    <a
                      href="../../demo7/dist/pages/user-profile/projects.html"
                      class="text-white text-opacity-75 fs-8"
                      >Projects</a
                    >
                    <span class="fw-bold text-white fs-7 d-block"
                      >Up to 500</span
                    >
                  </div>
                  <!--end::Info-->
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="d-flex align-items-center">
                  <!--begin::Symbol-->
                  <div class="symbol symbol-30px symbol-circle me-3">
                    <span
                      class="symbol-label"
                      style="background: rgba(255, 255, 255, 0.15)"
                    >
                      <i class="ki-duotone ki-abstract-26 fs-4 text-white">
                        <span class="path1"></span>
                        <span class="path2"></span>
                      </i>
                    </span>
                  </div>
                  <!--end::Symbol-->
                  <!--begin::Info-->
                  <div class="m-0">
                    <a
                      href="../../demo7/dist/apps/user-management/users/list.html"
                      class="text-white text-opacity-75 fs-8"
                      >Tasks</a
                    >
                    <span class="fw-bold text-white fs-7 d-block"
                      >Unlimited</span
                    >
                  </div>
                  <!--end::Info-->
                </div>
                <!--end::Item-->
              </div>
              <!--end::Items-->
            </div>
            <!--end::Container-->
            <!--begin::Action-->
            <div class="m-0">
              <a
                href="#"
                class="btn btn-color-white bg-white bg-opacity-15 bg-hover-opacity-25 fw-semibold"
                data-bs-toggle="modal"
                data-bs-target="#kt_modal_upgrade_plan"
                >Upgrade Plan</a
              >
            </div>
            <!--begin::Action-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--begin::Col-->
        <!--begin::Col-->
        <div class="col-sm-5">
          <!--begin::Illustration-->
          <img
            src="{% static 'assets/media/svg/illustrations/easy/7.svg' %}"
            class="h-200px h-lg-250px my-n6"
            alt=""
          />
          <!--end::Illustration-->
        </div>
        <!--begin::Col-->
      </div>
      <!--begin::Row-->
    </div>
    <!--end::Body-->
  </div>
  <!--end::Engage widget 9-->
</div>
<!--end::Col-->
