<!--begin::Col-->
<div class="col-xl-8">
  <!--begin::Maps widget 2-->
  <div class="card card-flush h-lg-100">
    <!--begin::Header-->
    <div class="card-header pt-7">
      <!--begin::Title-->
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bold text-dark">Calls Geography</span>
        <span class="text-gray-400 pt-2 fw-semibold fs-6"
          >Updated 37 minutes ago</span
        >
      </h3>
      <!--end::Title-->
      <!--begin::Toolbar-->
      <div class="card-toolbar">
        <a href="{% url 'products_add'%}" class="btn btn-sm btn-light"
          >PDF Report</a
        >
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body d-flex flex-center">
      <!--begin::Map container-->
      <div id="kt_maps_widget_2_map" class="w-100 h-350px"></div>
      <!--end::Map container-->
    </div>
    <!--end::Body-->
  </div>
  <!--end::Maps widget 2-->
</div>
<!--end::Col-->
