{% extends "base.html" %} 
{% load slippers %} 
{% block content %}
{% comment %} aside goes here  {% endcomment %}
{% #aside_pro data="db_data"%}
{% /aside_pro%}
<div class="wrapper d-flex  flex-column flex-row-fluid" id="kt_wrapper">
    {% #header heading="Project" %}
    {% /header %}
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div class="container-xxl" id="kt_content_container">   
        {% comment %} Layer one  {% endcomment %}
        <div class="row g-5 g-xl-10 mb-xl-10">
            {% #pro_active %}
            {% /pro_active %}
            {% #pro_highlights %}
            {% /pro_highlights %}
            {% #pro_today %}
            {% /pro_today %}
        </div>
        
        <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
            {% #pro_featured %}
            {% /pro_featured %}
            {% #pro_upgrade %}
            {% /pro_upgrade %}

        </div>
        <div class="row g-5 g-xl-10 mb-5 mb-xl-10">

            {% #pro_earning %}
            {% /pro_earning %}
            {% #pro_stat %}
            {% /pro_stat %}
            
        </div>
        
        <div class="row g-5 g-xl-10">
            {% #pro_invoice_manager %}
            {% /pro_invoice_manager %}
            {% #pro_active_task %}
            {% /pro_active_task %}

        </div>
        
    </div>
    </div>
</div>
{% endblock content %}

{% block drawer %}
{% #activity_drawer data="db_data"%}
{% /activity_drawer%}
{% #aside_right data="db_data"%}
{% /aside_right%}
{% #cart_drawer data="db_data"%}
{% /cart_drawer%}
{% #chat_drawer data="db_data"%}
{% /chat_drawer%}
{% #scroller data="db_data"%}
{% /scroller%}
{% endblock drawer %} 

{% block modal %}
{% #create_app_modal data="db_data"%}
{% /create_app_modal%}
{% #invite_modal data="db_data"%}
{% /invite_modal%}
{% #plans_modal data="db_data"%}
{% /plans_modal%}
{% #user_search_modal data="db_data"%}
{% /user_search_modal%}
{% #users_modal data="db_data"%}
{% /users_modal %}
{% endblock modal %} 